.form {
  display: flex;
  padding: 20px;
  height: 160px;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}
form {
  display: flex;
  justify-content: space-between;
}
.form-title {
  align-self: flex-start;
  color: #006755;
  font-size: 20px;
  font-weight: bold;
  
}
label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  
}
span {
  align-self: flex-start;
}
input {
  margin-top: 5px;
  padding: 15px 8px;
  outline: none;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  color: #858282;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 2px 1px -1px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}
input[type="date"], input[type="time"] {
  color: #d3d3d3;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}
.btn-guardar {
  width: 150px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: #00a98f;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 3px 5px -1px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}
