.table-grid-cabecera {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 180px 50px;
  padding: 10px 5px;
  gap: 25px;
  border-bottom: 1px solid #d3d3d3;
}
.table-grid-contenido {
  grid-column: 1 / 4;
  width: 100%;
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 180px 50px;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 5px;
  gap: 25px;
}
.table-grid-nombre {
  font-weight: 600;
}
.table-grid-horario {
  color: #858282;
}
.btn-borrar{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-borrar:hover {
  opacity: 0.8;
}
span{
  color: #b1b0b0;
}